#input-line{
               border: none;
               border-bottom: 2px solid gray; /* underline */
               /* outline: none; */
               width: 200px;
               height: 40px;
               font-size: 16px;
               /* padding: 5px; */
            }
            #labe{
                display: flex;
                margin-left: 20px;
                gap: 20px;
            }
            .id1{
                width: 650px;
                height: 350px;
                background-color: white;
            }
            input[type="checkbox"]{
                width: 25px;
                height: 25px;
            }
            p{
                font-size: 20px;
            }
            #submit{
                width: 100px;
                height: 50px;
                background-color: red;
                color: white;
                cursor: pointer;
                font-size: medium;
            }
            #retry{
                width: 100px;
                height: 50px;
                background-color: green;
                color: white;
                cursor: pointer;
                font-size: medium;
            }
            #submit:hover{
                background-color: rgb(133, 29, 29);
            }
            #retry:hover{
                background-color: rgb(54, 89, 54);
            }
            .option{
                display: flex; 
                align-items: center;
                gap: 10px; 
                margin: 5px 0; 
                font-size: 25px; 
                font-weight: normal;
                padding-bottom: 10px;
            }
